<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subject}}</title>
    <style>
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .footer {
            margin-top: 15px;
            text-align: center;
            font-size: 20px;
            color: #999;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>{{subject}}</h1>
        
        <p>{{text}}</p>
        
        <p class="footer">Thank you for using our service!</p>
    </div>
</body>
</html>
